/* importation d'icônes issu du site font-awesome */
/* même si le lien mentionne le framework bootstrap, on ne l'utilisera pas car interdit pour le projet APP */
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

*{
    /* La propriété margin définit la taille des marges sur les quatre côtés de l'élément */
    margin: 0;
    /* La propriété padding est une propriété raccourcie qui permet de définir les différents écarts de remplissage sur les quatre côtés d'un élément */
    padding: 0;
    /*box-sizing définit la façon dont la hauteur et la largeur totale d'un élément */
    box-sizing: border-box;
    /* Police, si poppins ne fonctionne pas , alors ce sera la police sans-serif qui sera utilisée */
    font-family: 'Poppins', sans-serif;
}

nav{
    /*position: fixed;
    !* z-index :un élément couvrira un autre élément si sa valeur de z-index est supérieure à celle du deuxième élément *!
    z-index: 99;*/
    /* régler la largeur en pourcentage pour le responsive au lieu des unités px,em */
    width: 100%;
    /* couleur codée en hexa correspondant au noir */
    background: #242526;
    margin-bottom: 10px;
}

nav {
    margin-bottom: 50px;
}

/* modifier le placement des éléments (logo 4DGT et rubriques Accueil Mon compte Forum */
nav .wrapper{
    position: relative;
    /* max-width: 1300px; */
    /* padding optionnel */
    padding: 0px 30px;
    height: 70px;
    line-height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* .wrapper .logo a{
  color: #f2f2f2;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
} */
.wrapper .nav-links{
    /* La propriété display définit le type d'affichage utilisée pour le rendu d'un élément (de bloc ou en ligne) et la disposition utilisée pour ses éléments fils : grille ou boîtes flexibles. */
    display: inline-flex;
}
.nav-links li{
    /* désactiver la liste ordonnée ou non ordonnée (les tirets ) */
    list-style: none;
}
.nav-links li a{
    /* couleur blanc en hexa */
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.nav-links li a:hover{
    /* couleur gris foncé en hexa */
    background: #3A3B3C;
}
.nav-links .mobile-item{
    display: none;
}
.nav-links .drop-menu{
    position: absolute;
    /* couleur noire de la barre de navigation */
    background: #242526;
    width: 180px;
    /*Sur les éléments de bloc, la propriété line-height indique la hauteur minimale des lignes au sein de l'élément. */
    line-height: 45px;
    top: 85px;
    opacity: 0;
    /*La propriété visibility peut être utilisée afin de cacher un élément tout en conservant occupé l'espace dans lequel il aurait été visible*/
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
    transition: all 0.3s ease;
    top: 70px;
    opacity: 1;
    visibility: visible;
}
.drop-menu li a{
    width: 100%;
    display: block;
    /*padding format : haut | droit | bas | gauche */
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
}


.content .row img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content .row header{
    /* couleur blanc en hexa */
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
}

.wrapper .btn{
    /* couleur blanc en hexa */
    color: #fff;
    font-size: 20px;
    /* change le curseur à un gant quand on pointe sur les rubriques */
    cursor: pointer;
    display: none;
}
.wrapper .btn.close-btn{
    position: absolute;
    right: 30px;
    top: 10px;
}

/* Les requêtes média (media queries) permettent de modifier l'apparence d'un site ou d'une application en fonction du type d'appareil (impression ou écran par exemple) */
/* et de ses caractéristiques (la résolution d'écran ou la largeur de la zone d'affichage (viewport) par exemple). */
/* à partir de 970px de largeur, on obtiendra ce réglage */
@media screen and (max-width: 970px) {
    .wrapper .btn{
        display: block;
    }
    .wrapper .nav-links{
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 350px;
        top: 0;
        left: -100%;
        /* couleur noire en hexa */
        background: #242526;
        display: block;
        padding: 50px 10px;
        /*Sur les éléments de bloc, la propriété line-height indique la hauteur minimale des lignes au sein de l'élément. */
        line-height: 50px;
        overflow-y: auto;
        /* réglage de l'ombre en arrière plan de la barre */
        box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
        transition: all 0.3s ease;
    }
    /* Barre de scroll  */
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        /* couleur noir en hexa */
        background: #242526;
    }
    ::-webkit-scrollbar-thumb {
        /* couleur gris foncé en hexa */
        background: #3A3B3C;
    }

    /* La pseudo-classe :checked représente n'importe quel bouton radio (<input type="radio">), case à cocher (<input type="checkbox">) ou option (<option> d'un élément <select>) qui est coché ou activé (on). */
    /* L'utilisateur peut modifier cet état en cliquant sur l'élément ou en sélectionnant une valeur différente auquel cas la pseudo-classe :checked ne s'applique plus à l'élément en question. */
    #menu-btn:checked ~ .nav-links{
        left: 0%;
    }
    #menu-btn:checked ~ .btn.menu-btn{
        display: none;
    }
    #close-btn:checked ~ .btn.menu-btn{
        display: block;
    }
    .nav-links li{
        margin: 15px 10px;
    }
    .nav-links li a{
        padding: 0 20px;
        display: block;
        font-size: 20px;
    }
    .nav-links .drop-menu{
        position: static;
        /*opacity : luminosité/clarté du contenu */
        opacity: 1;
        top: 65px;
        visibility: visible;
        padding-left: 20px;
        /* largeur en pourcentage pour le responsive au lieu des unités px,em */
        width: 100%;
        /* hauteur maximale de 0 pixel */
        max-height: 0px;
        /* La propriété CSS overflow est une propriété raccourcie qui définit comment gérer le dépassement du contenu d'un élément dans son bloc */
        overflow: hidden;
        /* suppression de l'ombre */
        box-shadow: none;
        /* temps émis pour changer la forme de la barre de l'horizontal au vertical */
        transition: all 0.3s ease;
    }

    /* La pseudo-classe :checked représente n'importe quel bouton radio (<input type="radio">), case à cocher (<input type="checkbox">) ou option (<option> d'un élément <select>) qui est coché ou activé (on). */
    /* L'utilisateur peut modifier cet état en cliquant sur l'élément ou en sélectionnant une valeur différente auquel cas la pseudo-classe :checked ne s'applique plus à l'élément en question. */
    #showDrop:checked ~ .drop-menu,
    #showMega:checked ~ .mega-box{
        max-height: 100%;
    }
    .nav-links .desktop-item{
        /*Utiliser la propriété display avec la valeur none sur un élément entraînera son retrait de l'arbre d'accessibilité. Cet élément ainsi que ses descendants ne seront plus annoncés par les lecteurs d'écrans. */
        display: none;
    }
    /* mise en forme de la barre de navigation verticale lorsqu'on rétrécit l'écran */
    .nav-links .mobile-item{
        display: block;
        /* couleur blanc en hexa  */
        color: #f2f2f2;
        /* taille de la police */
        font-size: 20px;
        /* largeur de la police */
        font-weight: 500;
        /* écart à gauche de 20 pixels */
        padding-left: 20px;
        cursor: pointer;
        /* arrondi */
        border-radius: 5px;
        /* temps pour changer la forme de la barre de navigation */
        transition: all 0.3s ease;
    }
    .nav-links .mobile-item:hover{
        /* couleur gris en hexa quand on place le curseur sur les rubriques */
        background: #3A3B3C;
    }
    .drop-menu li{

        margin: 0;
    }
    .drop-menu li a{

        border-radius: 5px;
        font-size: 18px;
    }

    .content .row header{
        font-size: 19px;
    }
}
nav input{
    /*Utiliser la propriété display avec la valeur none sur un élément entraînera son retrait de l'arbre d'accessibilité. Cet élément ainsi que ses descendants ne seront plus annoncés par les lecteurs d'écrans. */
    display: none;
}