/* -------------------------------------Partie FAQ--------------------------------------------------------*/


body{
	/* si la police utilisée n'est pas compatible avec le Hind, ce sera du sans-serif */
	font-family: Hind, sans-serif;
	/* La propriété display définit le type d'affichage utilisée pour le rendu d'un élément (de bloc ou en ligne) et la disposition utilisée pour ses éléments fils : grille ou boîtes flexibles. */
	display: flex;
	min-height: 100vh;
	/* enlever flex-direction column décalera le footer vers la droite, ne pas enlever */
	flex-direction: column;
}




.containerf{
	/* mettre au centre et disposer correctement le texte */
	margin: 0 auto; 
	padding: 10em;
	/* largeur, plus on augmente, plus le contenu s'étend */
	width: 50rem;
}



.accordion h4{
	position:relative;
	  /* La propriété display définit le type d'affichage utilisée pour le rendu d'un élément (de bloc ou en ligne) et la disposition utilisée pour ses éléments fils : grille ou boîtes flexibles. */
	display: flex;
	flex-direction: column;
	/* largeur conteneur */
	width: 100%;
	padding: 1rem 3rem 1rem 1rem;
	/* couleur texte */
	color: #7288A2;
	font-size: 1.15rem;	
	font-weight: 400;
	/* permet de créer un petit trait entre chaque question en gris (#DDD) */
	border-bottom: 1px solid #DDD;	
	text-decoration: none;
}

/* une fois qu'on a cliqué sur les boutons flèches, on peut régler la couleur de la question ou des questions */
.accordion h4.active{
	/* couleur vert en hexa */
	color: #03B5D2;
	/* le trait passe de la couleur gris au vert kaki codé en hexadécimal */
	border-bottom: 1px solid #cae566;
	
}

/* changement du curseur de la souris passant d'une flèche à un gant */
.accordion h4:hover, .accordiona:hover::after{cursor:pointer;color:#03B5D2;}

/* gestion icône flècge haut */
.accordion h4::after{
	/* création de l'icône en forme de flècge */
	font-family:"Font Awesome 5 Free";
	/* code du contenu issu du site fontawesome.com */
	content:'\f358';
	/*position : absolute L'élément est retiré du flux normal et aucun espace n'est créé pour l'élément sur la page*/
	position:absolute;
	float:right;
	right:1rem;
	font-size:1.5rem;
	color:black;
}

/* gestion icône flèche bas */
.accordion h4.active::after{
	/* création de l'icône en forme de flècge */
	font-family:"Font Awesome 5 Free";
	/* code du contenu issu du site fontawesome.com */
	content:'\f35b';
	/* couleur vert en héxadécimale */
	color: #03B5D2;
}

/*  mise en forme du paragrapge balise <p> en html */
.accordion .content p{
	font-size: 1rem;
	font-weight: 300;
}

.accordion .content{
	opacity: 0;max-height: 0; /* Permet de cacher le contenu une fois cliqué à nouveau */
	padding: 0 1rem;
	border-bottom: 1px solid #DDD;
	overflow: hidden;
	/*durée d'animation*/
	transition: all 0.3s ease;
}

.accordion .content.active{
	opacity: 1;max-height: 100%; /* afficher le contenu lorsqu'on clique sur la flèche */
	padding: 0 1rem;
	/*durée d'animation*/
	transition: all 0.3s ease;
}








/*--------------------------------Partie Footer----------------------------------------------*/




.contenu {
    /* équivalent à grow shrink basis */
	/*définit la capacité d'un élément flexible à modifier ses dimensions afin de remplir l'espace disponible de son conteneur. */
    flex: 1 0 auto;
}

.contenu p {
    padding: 5vw 10vw;
	/*Permet d'équilibrer les marges de texte*/
    text-align: justify;
}

footer {
	/* flex-shrink et flex sont des propriétés similaires */
    flex-shrink: 0;
	/* permet de créer des pointillés séparant la partie Body et Footer */
    border-top: 1px dashed #000;
	/*largeur*/
    width: 100%;
	/* Couleur arrière plan en gris */
    background: #f1f1f1;
    color: #333;
}
.contenu-footer {
    width: 1200px;
    margin: 0 auto;
    display: flex;
	/* mettre au centre le contenu */
    justify-content: center;
	/* permet d'adapter le contenu lorsqu'on réduit la page sur le côté */
    align-items: flex-start;
	/* Taille de la police */
    font-size: 20px;
    padding: 50px 0 100px;
}

/* mise en forme de la classe bloc footer services appelés dans le code html */
.bloc {
    width: 25%;
    margin: 0 30px;
}

/* Taille des titres (balise <h3> en html) */
.footer-contact h3,
.footer-services h3,
.footer-horaires h3
{
    font-size: 25px;
    padding-bottom: 20px;
}
/* placement des paragraphes (balise <p> en html) */
.footer-contact p {
    padding: 5px 0;
}

/* Services */

.liste-services,
.liste-horaires {
    list-style-type: none;
}
.liste-services li {
    padding: 2px 0;
}
.liste-services a {
	/* enlever le soulignement lorsqu'on utilise la balise <a> */
    text-decoration: none;
	/* couleur noir */
    color: #333;
}
/* lorsqu'on met le curseur de la souris sur CGU et mentions légales, on obtient du vert */
.liste-services a:hover {
   color: #03B5D2;
}




/* Media queries */
/* Permet de mettre en avant le responsive design en fonction de la résolution imposée */
/* à partir de 1300px de largeur, on obtiendra les propriétés suivantes */
@media screen and (max-width: 1300px) {

    .contenu-footer {
        width: 700px;
        flex-wrap: wrap;
    }
    .bloc {
        width: 40%;
        margin: 0 0;
    }
	/* notion de parité, père et enfant */
    .bloc:nth-child(1),
    .bloc:nth-child(2) {
        margin-bottom: 50px;
    }

}

/* Pareil à ce qu'on a fait au dessus, mais pour une résolution d'écran plus petite */
/* à partir de 800px de largeur, on obtiendra les propriétés suivantes */
@media screen and (max-width: 800px) {
    .contenu-footer {
        width: 320px;
    }
    .bloc {
        width: 300px;
        margin: 30px 30px;
    }
	/* notion de parité, père et enfant */
    .bloc:nth-child(1),
    .bloc:nth-child(2) {
        margin-bottom: 30px;
    }
    .bloc:nth-child(1) {
        margin-top: 0;
    }
}






/* --------------------------------------Partie mentions légales en PopUp et non pas en page web-------------------------------------- */

.popup .overlay {
  position:fixed;
  top:0px;
  left:0px;
  /* vh , qui signifie que la viewport height d' viewport height est relative à 1% de la hauteur de la fenêtre d'affichage */
  /* vw , qui signifie que la viewport width est relative à 1% de la largeur de la fenêtre d'affichage */
  width:100vw;
  height:100vh;
  /* transparence de couleur avec rgba avec 7% de transparence */
  background:rgba(0,0,0,0.7);
   /* z-index :un élément couvrira un autre élément si sa valeur de z-index est supérieure à celle du deuxième élément */
  z-index:1;
  display:none;
}

/* Mise en forme affichage du pop Up */
.popup .content {
  position:absolute;
  top:50%;
  left:50%;
  /*  modifie l'espace de coordonnées utilisé pour la mise en forme visuelle. Grâce à cette propriété, il est possible de translater les éléments,  */
  /*de les tourner, d'appliquer des homothéties, de les distordre pour en changer la perspective */
  transform:translate(-50%,-50%) scale(0);
  /* couleur blanc de l'arrière plan en héxadécimale */
  background:#fff;
  /* hauteur et largeur du pop Up */
  width:800px;
  height:650px;
  /* z-index :un élément couvrira un autre élément si sa valeur de z-index est supérieure à celle du deuxième élément */
  z-index:2;
  text-align:center;
  padding:20px;
 /*définit la façon dont la hauteur et la largeur totale d'un élément est calculée */
  box-sizing:border-box;
  /* si le open sans ne peut être utilisé, ce sera le sans serif */
  font-family:"Open Sans",sans-serif;
}

/* mise en forme du bouton croix pour fermer */
.popup .close-btn {
 /* modification du curseur de la souris flèche -> gant */	
  cursor:pointer;
  position:absolute;
  right:20px;
  top:20px;
  width:30px;
  height:30px;
  /* couleur noir en héxadécimale */
  background:#222;
  /* le bouton croix sera de couleur blanc */
  color:#fff;
  /* taille police */
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  /* permet d'avoir un cercle noir arrondi */
  border-radius:50%;
}

.popup.active .overlay {
  display:block;
}

.popup.active .content {
  /* temps d'animation pour apparaître le popup */
  transition:all 300ms ease-in-out;
  /*  modifie l'espace de coordonnées utilisé pour la mise en forme visuelle. Grâce à cette propriété, il est possible de translater les éléments,  */
  /*de les tourner, d'appliquer des homothéties, de les distordre pour en changer la perspective */
  transform:translate(-50%,-50%) scale(1);
}

/* mise en forme du bouton mentions légales */
button {
 
  top:50%;
  left:50%;
  padding:15px;
  font-size:15px;
  border:2px solid #222;
  color:#222;
  /* mettre en majuscule */
  text-transform:uppercase;
  font-weight:600;
  background:#fff;
}
